@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Signika:300,700");

		/* Carousel */

		* {
			margin: 0;
			padding-bottom: 4em;
			box-sizing: border-box;
		  }

		  .slider-container{
			width: 100%;
			padding: 2em;
			padding-top: 0em;
			background-color: transparent;
		  }
		  .slider-content {
			overflow: hidden;
			border-radius: 25px;
			margin: 0 40px;
		  }
		  .card {
			border-radius: 25px;
			border: 2px solid #f8f8f8;
		  }
		  .image-content,
		  .card-content {
			padding: 10px 0px;
			display: flex;
			flex-direction: column;
			align-items: center;
		  }
		  .image-content {
			position: relative;
			row-gap: 5px;
			padding: 25px 0;
		  }
		  .overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			border-radius: 25px 25px 0px 25px;
		  }
		  .overlay::before,
		  .overlay::after{
			  content: "";
			  position: absolute;
			  right: 0;
			  bottom: -40px;
			  width: 40px;
			  height: 40px;

		  }

		  .swiper-pagination-bullet {
			width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
			height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
			display: inline-block;
			border-radius: 50%;
			background: var(--swiper-pagination-bullet-inactive-color, #0D2149);
			opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
		}

		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			background: var(--swiper-pagination-bullet-active-color, #0D2149);
			opacity: var(--swiper-pagination-bullet-active-opacity, 1);
		  }


		  .overlay::after{
			  border-radius: 0 25px 0 0 ;
		  }

		  .card {
			border-radius: 25px;
			border: 2px solid #0D2149;
			height: 550px; /* Altura fija para todas las tarjetas */
			width: 200px; /* Ancho fijo para todas las tarjetas */
			display: flex; /* Utiliza display flex para alinear verticalmente los elementos internos */
			flex-direction: column; /* Asegura que los elementos internos se apilen verticalmente */
			justify-content: space-between; /* Distribuye el espacio entre los elementos internos */
			align-items: center;
		  }

		  .card-content {
			flex-grow: 1; /* Hace que la sección de contenido de la tarjeta ocupe el espacio restante */
		}
		  
		  .card-image {
			position: relative;
			height: 150px;
			width: 150px;
		  }

		  .card-image .card-img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			

		  }
		  .name {
			font-size: 24px;
			font-weight: 800;
			margin: 1em 1.3em;
			padding: 0 0; /* Usar padding automático */
			color: #0D2149;
			text-align: left;
		  }
		  .description {
			font-size: 14px;
			color: #0D2149;
			text-align: left;
			line-height: 1.5;
			margin: 0.8em 2em;
		  }

		  @media screen and (max-width:768px) {
			.slider-content{
			  margin: 0 10px;
			}
			.swiper-navBtn{
			  display: none;
			}
		  }
